<h1>Добавление</h1>
<form>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    {% for i in range(columnsNames|length) %}
        {{columnsNames[i]}}
        {% if options[columnsNames[i]] == '' %}
        <input name='dataInput' value={{inputData[i]}}>
        {% endif %}
        {% if options[columnsNames[i]] != '' %}
            <select required name='dataInput'>
                <option disabled selected></option>
                {% for j in options[columnsNames[i]].values() %}
                <option {% if j == inputData[i] %} selected {% endif %}>{{j}}</option>
                {% endfor %}
            </select>
        {% endif %}
        <br>
    {% endfor %}
    <br>
    <button type="submit">Добавить</button>
    {% if commited == 1 %}
    <script>
    $(document).ready(function(){
        window.close();
       })
    </script>
    {% endif %}
</form>