<h1>Timetable</h1>
<form>
  <link rel="stylesheet" href="../static/css/tableStyle.css"> 
  <script src="../static/js/jquery-3.2.1.min.js"></script>
  Выбор таблицы
    {% for i in tables %}
      <a href='/{{i}}'>{{i}}</a>
    {% endfor %}
  {% block functions %}
  <script id="filterSource" type="text/html">
    <conditionsTag id="conditionsTag">
    <select name="columnsBox">
      {% for j in columns %}
        <option {% if j == selectedColumn[i] %} selected {% endif %}>{{j}}</option>
      {% endfor %}
    </select>
    <select name="conditionsBox">
    {% for j in conditions%}
      <option {% if j == selectedConditions[i] %} selected {% endif %}>{{j}}</option>
    {% endfor %}
    </select>
    <input name = 'searchInput' value= {{searchName[i]}}>
    <br>
    </conditionsTag>
  </script>
  <script>
    function addFilter(){
      var filter = document.getElementById('filterSource').innerHTML;
      $("#pConditions").append(filter);
    }
  </script>
  <script>
    function deleteFilters() {
      $('conditionsTag').each(function () {
        $(this).remove();
    });
    $("#pConditions").append("<conditionsTag id = \"conditionsTag\"></conditionsTag>");
    }
  </script>
  {% endblock %}
  <p id = "pConditions"></p>
   <conditionsTag id="conditionsTag">
  {% for i in range(selectedColumn|length) %}
  <select name="columnsBox">
    {% for j in columns %}
      <option {% if j == selectedColumn[i] %} selected {% endif %}>{{j}}</option>
    {% endfor %}
  </select>
  <select name="conditionsBox">
    {% for j in conditions %}
      <option {% if j == selectedConditions[i] %} selected {% endif %}>{{j}}</option>
    {% endfor %}
  </select>
  <input name = 'searchInput' value={{searchName[i]}}>
  <br>
  {% endfor %}
   </conditionsTag>
  <button type="button" onclick="addFilter()">Добавить</button>
  <button type="button" onclick="deleteFilters()">Удалить</button>
  <button>Search</button>
  <h1>{{selectedTable}}</h1>
  Элементов на странице
  <select name = "elementsInPageBox">
    {% for j in elementsInPageNumbers %}
      <option {% if j == elementsInPage %} selected {% endif %}>{{j}}</option>
    {% endfor %}
  </select>
  Сортировка по
  <select name = "sortOrderBox">
    {% for i in columns %}
      <option {% if i == sortOrder %} selected {% endif %}>{{i}}</option>
    {% endfor %}
  </select>
  <a href = '/create/{{selectedTable}}' target="_blank">Добавить запись</a>
  <table>
    <tr>{% for i in columnsRealNames %}<th>{{i}}</th>{% endfor %}</tr>
  {% for i in tableElements %}
    <tr>{% for j in i %}<td>{{j}}</td>{% endfor %}<td><a href = "/requestPage/{{selectedTable}}/{{i[0]}}" target="_blank">Редактировать/удалить</a></td></tr>
  {% endfor %}
  </table>
  {% for i in range(pagesCount) %}
  <a href = {{ modifyUrl(page = i) }}>{{i + 1}}</a>
  {% endfor %}
</form>	