<h1>Расписание</h1>
<form>
    <link rel="stylesheet" href="../static/css/tableStyle.css">
    X
    <select name="XBox">
        {% for i in range(columnsNames|length) %}
        <option value={{i}} {% if columnsNames[i] == selectedX %}selected{% endif %}>{{columnsNames[i]}}</option>
        {% endfor %}
    </select>
    Y
    <select name="YBox">
        {% for i in range(columnsNames|length) %}
        <option value={{i}} {% if columnsNames[i] == selectedY %}selected{% endif %}>{{columnsNames[i]}}</option>
        {% endfor %}
    </select>
    <input type="checkbox" name="showColumnsNamesCheckbox" value="false">Не показывать названия колонок
    <br>
    Не показывать колонки
    <br>
    {% for i in range(columnsNames|length) %}
    {% if columnsNames[i] != selectedX and columnsNames[i] != selectedY %}
    <input type="checkbox" name="hiddenColumnsBox" value={{i}} {% if columnsNames[i] not in showedColumns %}checked{% endif %}>{{columnsNames[i]}}
    <br>
    {% endif %}
    {% endfor %}
    <button type="submit">Показать</button>
    <table>
        <tr>
            <th></th>
            {% for i in tableElements.copy().popitem()[1].keys() %}
            <th>{{i}}</th>
            {% endfor %}
        </tr>
        {% for key, value in tableElements.items() %}
        <tr>
            <td>{{key}}</td>
            {% for i in value.values() %}
            <td>
                {% if i != None %}
                <table>
                    {% if showColumnsNames == 'true'%}
                    <tr>
                    {% for j in showedColumns %}
                    <th>{{j}}</th>
                    {% endfor %}
                    </tr>
                    {% endif %}
                    <tr>
                        {% if not i is none %}
                            {% for x in i %}
                                {% for j in x %}
                                <td>{{j}}</td>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                </table>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</form>