<h1>Редактирование</h1>
<form>
    <script src="../../../static/js/jquery-3.2.1.min.js"></script>
    {% for i in range(columnsNames|length) %}
        {{columnsNames[i]}}
        <input name='dataInput' value={{inputData[i]}}>
        <br>
    {% endfor %}
    <br>
    <select name='actionSelectBox'>
        <option>Удалить</option>
        <option>Изменить</option>
    </select>
    <button type="submit">Подтвердить</button>
    {% if commited == 1 %}
    <script>
    $(document).ready(function(){
        window.close();
       })
    </script>
    {% endif %}
</form>